@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Viga&display=swap');

.search{
    border: 1px solid rgba(161, 161, 161);
    border-radius: 5px;
    font-family: 'Viga', sans-serif;
    text-align: center;
    font-size: 15px;
    outline: none;
    padding: 10px;
    width: auto;
    line-height: 30px;
    margin-bottom: 30px;
}